<ul class="social-header">
  {% if site.twitter %}
  <li>
    <a href="{{ site.twitter }}" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </li>
  {% else %}
  {% endif %} 
  {% if site.facebook %}
  <li>
    <a href="{{ site.facebook }}" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </li>
  {% else %}
  {% endif %} 
  {% if site.google-plus %}
  <li>
    <a href="{{ site.google-plus }}" target="_blank">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
  </li>
  {% else %}
  {% endif %}
  {% if site.instagram %}
  <li>
    <a href="{{ site.instagram }}" target="_blank">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </li>
  {% else %}{% endif %}
  {% if site.pinterest %}
  <li>
    <a href="{{ site.pinterest }}" target="_blank">
      <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
  </li>
  {% else %}
  {% endif %}
  {% if site.linkedin_username %}
  <li class="list-inline-item">
    <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
    </a>
  </li>
  {% endif %}
</ul>