---
layout: default
---

<div class="post-header" style="background: url({{"/images/pages/" | prepend: site.baseurl | append : page.img}})">
  <div class="post-header-info">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %} {{ page.date | date: date_format }}
      </time>
    </div>
  </div>
</div>

<div class="content-box">
  <article class="post">

    <div class="post-content">
      {{ content }}
    </div>

    <footer class="post-footer">

      {% if page.tags.size >= 1 %}
      <div class="post-tag">
        <span>Tags:</span>
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% else %}
      {% endif %}
    </footer>

    {% assign author = site.authors[page.author] %}
    <div class="post-author">
      {% if author %}
      <div class="post-author-image">
        <a style="background-image: url({{"/images/" | prepend: site.baseurl | append: author.author-image}})">
          <span class="screen-reader-text">{{author.author-name}} Picture</span>
        </a>
      </div>
      <div class="post-author-info">
        <h4>{{ author.author-name }}</h4>
        <p class="post-author-bio">{{ author.about-author }}</p>
        <div class="post-author-meta">
          {% if author.author-linkedin %}
          <a href="{{ author.author-linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if author.author-email %}
          <a href="mailto:{{ author.author-email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="post-author-image">
        <a style="background-image: url({{"/images/" | prepend: site.baseurl | append: site.author-image}})">
          <span class="screen-reader-text">{{site.author-name}} Picture</span>
        </a>
      </div>
      <div class="post-author-info">
        <h4>{{ site.author-name }}</h4>
        <p class="post-author-bio">{{ site.about-author }}</p>
        <div class="post-author-meta">
          {% if site.twitter %}
          <a href="{{ site.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.linkedin %}
          <a href="{{ site.linkedin}}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.facebook %}
          <a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.instagram %}
          <a href="{{ site.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.pinterest %}
          <a href="{{ site.pinterest }}" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
          {% if site.author-email %}
          <a href="mailto:{{ site.author-email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          {% else %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>

    <div class="page-navigation clearfix">
      {% if page.previous.url %}
      <a class="prev-page" href="{{page.previous.url}}"><i class="fa fa-angle-left" aria-hidden="true"></i><span>{{page.previous.title}}</span></a>
      {% endif %}
      {% if page.next.url %}
      <a class="next-page" href="{{page.next.url}}"><span>{{page.next.title}}</span><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      {% endif %}
    </div>

    {% if site.disqus-identifier %}
      {% include disqus-comments.html %}
    {% endif %}
  </article> <!-- /.post -->

</div> <!-- /.content-box -->